@import '@/assets/styles/variables';

.wrapper {
	margin-top: 45px;
	@media (max-width: 1280px) {
		margin-top: calc(39px + (6 + 6 * 3.539) * ((100vw - 998px) / 1280));
	}

	@media (max-width: 998px) {
		margin-top: 40px;
	}

	@media (max-width: 480px) {
		margin-top: calc(30px + (10 + 10 * 3) * ((100vw - 360px) / 480));
	}
	.content {
		max-width: 1160px;
		margin-left: auto;
		margin-right: auto;

		@media (max-width: 1280px) {
			margin-left: calc(50px + (10 + 10 * 3.539) * ((100vw - 998px) / 1280));
			margin-right: calc(50px + (10 + 10 * 3.539) * ((100vw - 998px) / 1280));
		}

		@media (max-width: 998px) {
			margin-left: calc(30px + (20 + 20 * 0.92664) * ((100vw - 480px) / 998));
			margin-right: calc(30px + (20 + 20 * 0.92664) * ((100vw - 480px) / 998));
		}

		@media (max-width: 480px) {
			margin-left: calc(10px + (20 + 20 * 3) * ((100vw - 360px) / 480));
			margin-right: calc(10px + (20 + 20 * 3) * ((100vw - 360px) / 480));
		}

		@media (max-width: 360px) {
			margin-left: 10px;
			margin-right: 10px;
		}

		.container {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;

			> div:first-child {
				width: 100%;

				> h3 {
					margin-top: 0px;
					margin-bottom: 10px;
					font-family: var(--font-raleway);
					font-weight: 600;
					font-size: 42px;
					text-transform: uppercase;
					color: #000;

					@media (max-width: 1280px) {
						font-size: calc(36px + (6 + 6 * 3.539) * ((100vw - 998px) / 1280));
					}

					@media (max-width: 998px) {
						font-size: calc(
							24px + (12 + 12 * 0.92664) * ((100vw - 480px) / 998)
						);
					}

					@media (max-width: 480px) {
						text-align: start;
						font-size: calc(22px + (2 + 2 * 3) * ((100vw - 360px) / 480));
					}
				}

				> p {
					margin-top: 0px;
					margin-bottom: 50px;
					font-family: var(--font-raleway);
					font-weight: 500;
					font-size: 20px;
					line-height: 135%;
					color: #000;

					@media (max-width: 1280px) {
						margin-bottom: calc(
							30px + (20 + 20 * 3.539) * ((100vw - 998px) / 1280)
						);
					}

					@media (max-width: 998px) {
						display: none;
					}
				}
			}

			> div:last-child {
				width: 100%;
				display: flex;
				gap: 40px;

				@media (max-width: 998px) {
					flex-direction: column;
					gap: 10px;
				}
				.left_side {
					position: relative;
					background: url(/background_small.webp);
					background-repeat: no-repeat;
					background-size: cover;
					background-position-x: 40%;
					flex-grow: 1;
					overflow: hidden;

					@media (max-width: 998px) {
						background-position-y: 55%;
						height: calc(
							220px + (100 + 100 * 0.92664) * ((100vw - 480px) / 998)
						);
					}

					@media (max-width: 480px) {
						height: calc(167px + (53 + 53 * 3) * ((100vw - 360px) / 480));
					}
				}

				.right_side {
					width: 460px;
					height: 500px;

					@media (max-width: 998px) {
						width: 100%;
						height: calc(466px + (34 + 34 * 0.92664) * ((100vw - 480px) / 998));
					}

					.container {
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						.inputField {
							font-family: var(--font-raleway);
							font-weight: 500;
							font-size: 20px;
							line-height: 135%;
							color: #202020;
						}
						.inputLabel {
							font-family: var(--font-raleway);
							font-weight: 500;
							font-size: 20px;
							line-height: 135%;
							color: #202020;
						}

						.select_item {
							font-family: var(--font-raleway);
							font-weight: 500;
							font-size: 20px;
							line-height: 135%;
							color: #202020;
						}

						@media (max-width: 998px) {
							.inputField,
							.inputLabel {
								font-size: calc(
									18px + (2 + 2 * 0.92664) * ((100vw - 480px) / 998)
								);
							}
						}

						@media (max-width: 480px) {
							.inputField,
							.inputLabel {
								font-size: 18px;
							}
						}

						.text_field,
						.select_one {
							margin-bottom: 30px;

							&.error {
								margin-bottom: 8px;
							}
						}

						@media (max-width: 998px) {
							.text_field,
							.select_one {
								margin-bottom: calc(
									20px + (10 + 10 * 0.92664) * ((100vw - 480px) / 998)
								);

								&.error {
									margin-bottom: calc(
										0px + (8 + 8 * 0.92664) * ((100vw - 480px) / 998)
									);
								}
							}
						}

						@media (max-width: 480px) {
							.text_field,
							.select_one {
								margin-bottom: 20px;
							}
						}

						.personal_data {
							display: flex;
							gap: 60px;

							.name_field,
							.phone_field {
								margin-bottom: 28px;

								&.error {
									margin-bottom: 5px;
								}
							}

							@media (max-width: 998px) {
								.name_field,
								.phone_field {
									margin-bottom: calc(
										20px + (8 + 8 * 0.92664) * ((100vw - 480px) / 998)
									);

									&.error {
										margin-bottom: calc(
											-3px + (8 + 8 * 0.92664) * ((100vw - 480px) / 998)
										);
									}
								}
								gap: 50px;
							}

							@media (max-width: 480px) {
								.name_field,
								.phone_field {
									margin-bottom: 20px;
								}
								gap: calc(40px + (10 + 10 * 3) * ((100vw - 360px) / 480));
							}
						}

						.Ñheckbox {
							margin-bottom: 5px;
							span {
								font-family: var(--font-raleway);
								font-weight: 500;
								font-size: 14px;
								line-height: 114%;
								color: #000;
							}

							@media (max-width: 480px) {
								margin-bottom: calc(
									0px + (5 + 5 * 3) * ((100vw - 360px) / 480)
								);
								span {
									font-size: calc(12px + (2 + 2 * 3) * ((100vw - 360px) / 480));
								}
							}
						}

						.upload_button {
							padding: 13px 16px 13px 20px;
							position: relative;
							background-color: #e8e8e8;
							border: 1px solid #878787;
							border-radius: 2px;
							display: flex;
							justify-content: space-between;
							align-items: center;
							text-transform: none;
							box-shadow: none;

							.text {
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								font-family: var(--font-raleway);
								font-weight: 500;
								font-size: 15px;
								line-height: 156%;
								color: #333;
								> span {
									font-family: var(--font-raleway);
									font-weight: 500;
									font-size: 13px;
									line-height: 200%;
									color: #333;
								}

								@media (max-width: 998px) {
									font-size: calc(
										12px + (3 + 3 * 0.92664) * ((100vw - 480px) / 998)
									);
									> span {
										font-size: calc(
											10px + (3 + 3 * 0.92664) * ((100vw - 480px) / 998)
										);
									}
								}
							}
						}

						.send_button {
							transition:
								background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
								box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
								border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
								color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
							box-shadow: none;
							border-radius: 2px;
							position: relative;
							padding-top: 20px;
							padding-bottom: 20px;
							background-color: #0c0c0cc9;
							display: flex;
							gap: 16px;
							align-items: center;

							font-family: var(--font-raleway);
							font-weight: 600;
							font-size: 15px;
							color: #fff;
							line-height: 24px;

							&.active {
								background-color: #0c0c0c;

								@media (hover: hover) {
									&:hover {
										box-shadow:
											0px 3px 1px -2px rgba(37, 37, 37, 0.4),
											0px 2px 2px 0px rgba(0, 0, 0, 0.44),
											0px 1px 5px 0px rgba(0, 0, 0, 0.42);
									}
								}

								@media (hover: none) {
									&:active {
										box-shadow:
											0px 3px 1px -2px rgba(37, 37, 37, 0.4),
											0px 2px 2px 0px rgba(0, 0, 0, 0.44),
											0px 1px 5px 0px rgba(0, 0, 0, 0.42);
									}
								}
							}

							&.loading {
								padding-top: 12px;
								padding-bottom: 12px;
								> span {
									position: relative;
									display: flex;
									align-items: center;
									justify-content: center;
									height: 100%;
									width: 100%;
									color: white;
									> span {
										width: 40px !important;
										height: 40px !important;
									}
								}

								@media (max-width: 998px) {
									padding-top: calc(
										8px + (4 + 4 * 0.92664) * ((100vw - 480px) / 998)
									);
									padding-bottom: calc(
										8px + (4 + 4 * 0.92664) * ((100vw - 480px) / 998)
									);
								}
							}

							@media (max-width: 998px) {
								font-size: calc(
									12px + (3 + 3 * 0.92664) * ((100vw - 480px) / 998)
								);
								padding-top: calc(
									16px + (4 + 4 * 0.92664) * ((100vw - 480px) / 998)
								);
								padding-bottom: calc(
									16px + (4 + 4 * 0.92664) * ((100vw - 480px) / 998)
								);
							}
						}
					}
				}
			}
		}
	}
}
